#room{
    margin-top: 5%;
    margin-left: 5%;
    height: 100vh;
}

.messageContentChat{
    margin-top: 5%;
    margin-left: 5%;
}

.inboxContentChat{
    margin-left: 5%;
}

#colone-chat{
    
    
    height : 80%;
}

.chat{
    display : block;
    height: calc(100vh - 30px);
}

