<div id='room' fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
  <h2>New Channel</h2>

  <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
    <form class="example-form" (ngSubmit)="onSubmit(f)" #f="ngForm" fx>
      <mat-form-field class="example-full-width">
        <mat-label>Add a new Room</mat-label>
        <input matInput placeholder="Ex. Pizza" id="roomName" name="roomName" ngModel required>
      </mat-form-field>

      <div>
        <button type = 'submit' mat-raised-button  color="primary" [disabled]='f.invalid'>ok</button>
      </div>
      
    </form>
  </div>

  <div fxLayout="column" fxLayoutAlign="|start,center,end,space-around,space-between| |start,center,end,stretch|" fxLayoutGap="gappx">
    <app-room-list></app-room-list>
  </div> 
  
</div>

<mat-divider
  [vertical]="true">
</mat-divider> 

<div id='chat' fxFlex="50%" fxFlexAlign="start">
  <app-message></app-message>
  
</div>




