#message-form{
    // height: 100px;
    // position : absolute;
    width: auto;
    bottom : 50px;
    padding-top: 10px;
    border-top: solid 1px rgb(224, 224, 224);
    background-color: white;
}

.mat-form-field{
    width: 85%;
}

.boxContent{
    height : auto;
}