#message-form{
    height: 100px;
    position : absolute;
    width: 70%;
    bottom : 0;
    padding-top: 10px;
    border-top: solid 1px rgb(224, 224, 224);
    background-color: white;
}

.mat-form-field{
    width: 85%;
}